# -*- mode: gitignore; -*-

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Forge
build/*
minecraft/

# IDEA/Gradle
.idea/
.gradle/
mcagent.iml
mcagent.ipr
mcagent.iws

